body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


/* header/nav */

.top-nav {
    display: inline-block;
    height: 50px;
    background-color: #3F3F3F;
    width: 100%;
}

.top-a {
    display: inline-block;
    color: #CECECE;
    text-decoration: none;
    padding: 20px 20px 20px 20px;
    font-size: 13px;
}

.right-a {
    float: right;
}

.bottom-nav {
    display: inline-block;
    height: 150px;
    background-color: white;
    width: 100%;
}

.bottom-nav a {
    float: right;
    color: #CECECE;
    text-decoration: none;
    padding: 40px 30px 20px 30px;
    font-size: 50px;
}

.bottom-nav span {
    float: left;
    color: #080808;
    text-decoration: none;
    margin: 0;
    font-size: 15px;
    font-weight: bold;
}


/* shiny hover */

.shiny {
    color: #CECECE;
    background-image: -webkit-linear-gradient(left, #CECECE 25%, #fde071 37.5%, #ef9671, #996a6e 62.5%, #CECECE 75%);
    background-image: linear-gradient(90deg, #CECECE 25%, #fde071 37.5%, #ef9671, #996a6e 62.5%, #CECECE 75%);
    background-position: right center;
    background-size: 400% auto;
    -webkit-background-clip: text;
    background-clip: text;
    transition: color 200ms linear;
}

.shiny:hover {
    background-position: left center;
    color: #ef9671;
    transition: background-position 2000ms ease-in-out;
    -webkit-text-fill-color: transparent;
}


/* container with all product boxes */

.grid-container {
    display: block;
    margin: 0px 50px 0px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(300px, auto);
    grid-gap: 5px;
}

.grid-item {
    background-color: #F7F7F7;
}

.grid-item>img {
    mix-blend-mode: multiply;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    min-width: 150px;
    max-width: 300px;
    min-height: 250px;
    max-height: 300px;
}

.grid-brand {
    font-weight: bold;
    margin-left: 2%;
}

.grid-name {
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
}


/* new or hot */

.new {
    margin-left: 3%;
    margin-top: 3%;
}

.new>span {
    border: 1px solid #5C84FC;
    color: #003FFF;
    text-transform: uppercase;
    font-weight: bold;
    padding: 2px;
}

.hot {
    margin-left: 3%;
    margin-top: 3%;
}

.hot>span {
    border: 1px solid #ECACAC;
    color: #DB3D3D;
    text-transform: uppercase;
    font-weight: bold;
    padding: 2px;
}


/* selecting grid element to be bigger manually, before finding clever way */

.grid-item:nth-child(3) {
    grid-column: span 2;
}

.grid-item:nth-child(4) {
    grid-column: span 2;
}

.grid-item:nth-child(9) {
    grid-column: span 2;
}

.grid-item:nth-child(10) {
    grid-column: span 2;
}

.grid-item:nth-child(15) {
    grid-column: span 2;
}

.grid-item:nth-child(16) {
    grid-column: span 2;
}